<style type="text/css">
	#menu ul li a {
		color: #{S_MENU_FONT_COLOR};
	}
	#menu ul li a:hover {
	background: url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_bg_hover.gif') repeat-x;
	color: #{S_MENU_FONT_COLOR_HOVER};
	text-decoration: {S_MENU_DECORATION};
	}
	#menu ul ul li {
	background: url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_subbg.gif') repeat-x;
	}
	#menu ul ul li a:hover {
	background: url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_subbg_hover.gif') repeat-x;
	}
</style>