<!-- IF .buttons -->
<div id="menu" style="clear:both;margin-top:-3px;background: url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_bg.gif') repeat-x;">
	<div class="inner">
		<span class="menu_corner-left" style="background: url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_corner.gif') no-repeat;"></span>
		<span class="menu_corner-right" style="background: url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_corner_right.gif') no-repeat;"></span>
		<!-- IF S_DISPLAY_SEARCH and S_MENU_SEARCH -->
		<div id="top-search" style="<!-- IF S_MENU_ALIGN == 'right' -->float: left;<!-- ELSE -->float: right;<!-- ENDIF -->background: transparent url('{BOARD_URL}ext/dmzx/buttonmenu/styles/prosilver/theme/images/menu/{S_MENU_COLOR}/menu_search.gif') no-repeat scroll 0 0;">
			<form action="{U_SEARCH}" method="post" id="search">
			<fieldset>
				<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="menu_search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" />
				{S_SEARCH_HIDDEN_FIELDS}
			</fieldset>
			</form>
		</div>
		<!-- ENDIF -->
		<ul>
		<!-- BEGIN buttons -->
			<li style="float:{S_MENU_ALIGN};"<!-- IF .buttons.sub --> onmouseover="getElementsByTagName('ul')[0].style.display = 'block';" onmouseout="getElementsByTagName('ul')[0].style.display = 'none';"<!-- ENDIF -->>
				<a href="{buttons.URL}" title="{buttons.NAME}"<!-- IF buttons.EXTERNAL --> target="_blank"<!-- ENDIF --> style="font-weight:{S_MENU_WEIGHT};text-transform:{S_MENU_TEXT_TRANSFORM};">{buttons.NAME}</a>
				<!-- IF .buttons.sub -->
				<ul>
					<!-- BEGIN sub --><li><a href="{sub.URL}" title="{sub.NAME}"<!-- IF sub.EXTERNAL --> target="_blank"<!-- ENDIF --> style="font-weight:{S_MENU_WEIGHT};text-transform:{S_MENU_TEXT_TRANSFORM};">{sub.NAME}</a></li><!-- END sub -->
				</ul>
				<!-- ENDIF -->
			</li>
		<!-- END buttons -->
		</ul>
	</div>
</div>
<br />
<!-- ENDIF -->
