/*	Spectrum color picker
---------------------------------------------------------------------------- */
.sp-original-input-container {
	border-left: 1px solid #afaeaa;
	border-top: 1px solid #afaeaa;
	border-right: 1px solid #d5d5c8;
	border-bottom: 1px solid #d5d5c8;
}

.sp-original-input-container:hover {
	border-color: #afaeaa;
}

input.spectrum {
	border: none;
}

/*	Button menu icon picker
---------------------------------------------------------------------------- */
.icons-darkwrapper {
	background: rgba(0, 0, 0, 0.4);
	--main-color: #1484bc;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.icons-wrapper {
	background: #efefef;
	border-radius: 7px;
	overflow: hidden;
	width: 260px;
}

.icons-picker {
	padding: 8px;
}

.icons-buttons {
	display: flex;
}

.icons-button {
	border: 0;
	color: #fff;
	cursor: pointer;
	flex: 0 50%;
	font-size: 14px;
	padding: 10px;
	text-transform: uppercase;
}

.icons-reset {
	background: #d60000;
}


.icons-reset:hover {
	background: #b40000;
}

.icons-close {
	background: var(--main-color);
}

.icons-close:hover {
	background: #0e6a98
}

.icons-item .fa {
	font-size: 28px;
}

.icons-item {
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 28px;
	padding: 6px;
	width: 28px;
	height: 28px;
	margin: 0;
	transition: background 0.15s;
}

.icons-item:hover {
	background: #efefef;
	cursor: pointer
}

.icons-item:active {
	background: #e9e9e2
}

.icons-search {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	margin-bottom: 8px;
	padding: 10px;
	width: 100%;
}

.icons-list {
	height: 300px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	gap: 8px;
	margin: 0;
	padding: 0;
}

.icons-selected,
.icons-selected:hover {
	background: var(--main-color);
	border-color: var(--main-color);
	color: #fff;
}

.icons-preview {
	font-size: 16px;
	margin: 0 0 0 5px;
	vertical-align: middle;
}

.rtl .icons-preview {
	margin: 0 5px 0 0;
}
