#menu {
  margin:  auto;
  height: 30px;
  max-width: 1180px;
  min-width: 625px;
}

#menu .menu_corner-left {
  display: block;
  width: 15px;
  height: 30px;
  float: left;
}

#menu .menu_corner-right {
  display: block;
  width: 10px;
  height: 30px;
  float: right;
}

#menu #top-search {
  height: 30px;
  width: 160px;
}

#menu #top-search .menu_search {
  background-color: #FFFFFF;
  border: medium none;
  float: left;
  left: 25px;
  position: relative;
  top: 8px;
  width: 115px;	
}

#menu ul {
  list-style: none;   
  height: 30px;  
  margin: 0 0 10px 0;
  padding: 0;
}

#menu ul li {
  display: block;
  height: 30px;
}

#menu ul li a {
  display: block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 13px 6px 13px;
}

#menu ul ul {
  display: none;
  position: absolute;
  z-index: 1000;
  list-style: none;
  height: 30px;      
}

#menu ul ul li {
  display: block;
  min-width: 150px;
  height: 30px;    
  border-top: 1px solid transparent;
}

#menu ul ul li a {
  display: block;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 13px 6px 13px;
}

/* IE 9 hack */     
#menu ul ul li:first-child {
  border-top: 2px solid transparent\9;
}

.headerbar #search-box {
  display: none !important;
}

.navbar #search-box{
  box-shadow:none;
}